createdAt: "2019-11-18T16:42:57.021Z"
updatedAt: "2019-11-20T19:38:28.941Z"
type: "MARKDOWN_NOTE"
folder: "6827e53fd4576b1dc031"
title: "Genomics 4000 Notes"
tags: []
content: '''
  Genomics 4000 Notes
  
  ### Notes are in reverse order
  
  
  
  ---
  ### Cloning and stem cells (November 18 2019; lecture 21)
  - Types of stem cells
    - Pluripotent stem cells
      - Such as embryonic stem cells --> can differentiate into all 3 gem layers of an organism, Are the most  widely used type of stem cells, esp in mice
    - Multipotent stem cells
      - such as adult stem cells, can  yield a limited set of differentiated cells in restriced pathways
    - Totipotent cells,  such as two celled zygote, can differentiate into all cells, including extraembryonic cell types (like the placenta)
  - Drawbacks of human ES cell likes
    - ethical dilemma: must destroy embryos
    - not universally useful due to genetic incompatibility between "donor" (an embryo) and a recipient patient --> could have immune system rejection
    - Patient specific stem cells can solve immune incompatibility problem
  - What is cloning?
      - Process that produces genetically identical copies of a biological entity
  - Transplanation of living nuclei from blastula cells  into enuclated frog eggs (PNAS 1952, a big deal at the time)
      - Cells must be de-differentiated
  - Somatic cell nuclear transfer 
    - Step 1: Remove nucleus from oocyte (enucleation)
    - Step 2: Inject donor cell/nucleus
  -  Imprinting thought to be a barrier to cloning
    - have fertilized embryo, either remove female or male pronucleus, leads to invariable or poor development of embryo  or embryo tissues
  - Dolly 1996-2003
    - Created by isolation of cells cultured from udder of a donor, induced into quiescence, and electrofused with enucleated oocytes
    - Use 277  unfertilized eggs
    - 29 reconstructed eggs survived and were implanted in surrogate ewes
    - 1 gave birth to Dolly, she had offspring
    - Cloning in all animals remains inefficient
  - Reasons for cloning
    - Reproductive cloning
      - make an exact copy of an organism
      - predominantly in farm animals (prize bulls)
      - express pharmaceutically relevant proteins in milk
      - rescue endangered species
      - remaking beloved pets
    - Therapeutic cloning
      - embryo  is used only to generate stem cells matched to the donor
      - anticipated use in regenerated medicine  
      - some monkeys have been cloned   
  - Adult stem cells
    - people still find therapeutic cloning, or any type of cloning objectionable
    - Recent years, stem cells that form many adult tissues have been ID'd
    - This raises the possibility that a patients own cells can be used for therapeutics
    - How to  isolate and grow these cells? Typically, they are rare and slow-cycling
  - Making patient-specific pluripotent stem cells by epigenetic reprogramming
    - try turning somatic cells into ES cells
    - Adding key genes into somatic cells that will "reprogram" them into an ES cell-like state
    - This avoids SCNT and need for eggs
  - Study ~2012, indiction of pluripotent stem cells from mouse embryonic and adult fibroblast cultures by defined factors (2012 nobel prize), looked at 24 candidate genes (mostly TFs), introduced genes all at once, then in smaller combinations to see which ones might convert fibroblasts into ES-like cells
  - Yamanaka Factors
    - expression of TFs: c-Myc, Sox2, Oct4, and Klf4  are sufficient to produce iPS cells from embryonic fibroblasts
    - The exact ratio of the factors can be modified, and starting cell type has major influence (epigenetic states are vastly different)
    - Conditions, chemicals, cell types have allowed use of as few as 1 of the factors to enable reprogramming
  - iPS induction
    - resets the epigenetic memory
    - alters DNA methylation patterns
    - alters histone modifications
    - not always 100% efficient, and varies by iPS clone
    - Genomics can ID "fully reprogrammed" clones    
    - Example: induced pluripotent stem cells generated from patients with ALS can be differentiated into motor neurons
    - Need to "fix" mutations in iPS cells   
  
  Paper to read before next class:
  Toward Clinical Implementation of Next- Generation Sequencing-Based Genetic Testing in Rare Diseases: Where Are We? Liu et al., 2019
  Paper highlights
  - NGS-based genetic testing in the diagnosis of rare diseases holds great promise to serve as a first-tier genetic testing tool in the near future.
  - Advancement of NGS technologies provides many options for diag- nosing rare disorders associated with different types of genetic var- iants. Factors must be balanced in a ‘fit-for-purpose’ implementation.
  - The accuracy and reproducibility of NGS should be evaluated in a clin- ical setting to deliver reliable ge- netic testing results in different clinical stages of rare diseases.
  - Artificial intelligence (AI) will play a central role in integrating diverse diagnosis information toward an enhanced diagnosis power for rare diseases.
  
  Paper notes:
  - 7000 rare diseases have been recognized, a substantial number of which are life- threatening or chronically debilitating
  - 80% of rare diseases are genetic in origin
  - 350 million people globally suffer from rare diseases. Most rare disease patients (50%–75%) show onset at birth or in childhood. As many as 30% of rare diseases patients die before the age of 5 years.
  - An incomplete knowledge of the natural history of each rare disease can make a substantial propor- tion (60%) of rare diseases intractable and undiagnosable
  - disease Panel Design: The gene-panels designed for rare diseases fall mainly into three categories of disease-specific, organ-specific, or a universal panel. Gene panels typically include a mixture of causative genes located in genome regions with different GC contents, associated with differing technical difficulty in detecting genetic variants, with further impact on the diagnostic rate.
  
  
  ---
  ### Cancer Genomics (November 13 2019; lecture 20)
  
  
  
  ---
  ### Microbial Genomics and the Microbiome (November 11 2019; lecture 19)
  
  
  
  ---
  ### Gene Regulatory Networks Systems Biology (November 6 2019; lecture 18)
  
  
  
  ---
  ### Comparative and Evolutionary Genomics (November 4 2019; lecture 17)
  
  
  
  ---
  ### DNA replication, repair, and mutation (October 30, 2019; lecture 16)
  - Germline mutation vs somatic mutation 
  - Germline
    - can be transmitted to next generation
    - During, before, or after meiosis
    - Mutation rate is much lower than in somatic cells
    - Mutation rate increases with age. Males are responsible for most mutations resulting from DNA replication errors (40 yr olds transmit double the mutations than 20 year olds; older females dramatically more likely to transmit aneuploid oocytes)
    - In humans, it is re-estimated that a person inherits 40 de novo point mutations from their parents
  - Somatic mutation
    - Different tissues differ in mutation rates, susceptibility to DNA damage, and DNA damage repair efficiency
    - Estimated that in proliferative tissues, nearly all genomic sites will have been mutated in at least 1 cell by age 60
    - Some mutations can lead to cancer
    - More mutations lead to cells being less fit
  - Types of mutations (most arise from chromosomal breakage and illegitimate repair)
    - duplication
    - inversions
    - deletions
    - insertions
    - translocation    
  - Detecting large deletions/duplications
    - Array comparative hybridization
    - Next gen sequencing using paired end reads from defined insert library
    - Look for abnormal spacing when mapping reads to genome
  - Types of mutations II
    -  point mutations (mis-sense, nonsense, synonymous)
    -  Small indel (2 or more nucleotides)
    -  Trinucleotide/simple sequence repeat expansion/contraction
    -  Most mutations occur during DNA replication
    -  Others occur from environmentally induced or metabolic damage
    -  There are intrinsic mechanisms to sense and repair different types of DNA damage (during cell cycle, cell cycle will stop at various points if it detects unreplicated or damaged DNA, chromosome misalignment, numerous genes and proteins involved (kinases))
      - Rescue damaged replication forms --> backup to origins to rescue
      - Different genomic regions of genome replicated at different times   
  - Detecting point mutations/small indels
    - hard to distinguish between sequencing errors and real mutations
    - For detecting de novo germline mutations inherited from a parent
      - easy --> all cells in body will have mutation, so half of all reads will contain a variant not present in either parent
    - For tumours:
      - easy --> all or most cells in the tumor will have variants not present in normal tissue in the patient
    - For detection of spontaneous somatic mutations in a tissue:
      - Hard --> Because most cells will not have a mutation, how to measure mutation rate?
  - Mutation rates in human cells every day
    - 20,000 abasic sites
    - 10,000 oxidized bases
    - 7,000 alkylations
    - 10 double stranded breaks
  - How to deal with mutations?
    - Base excision repair 
      - (when bases are oxidized, deaminated, methylated --> initiated by the action of a DNA glycosylase that cleaves the N-glycosidic bond between the damaged base and the sugar phosphate backbone of the DNA)
    - Nucleotide Excision repair (NER)
      - Recognizes wider variety of damage and removes larger segments of DNA than base excision repair
      - There are at least 13 NER genes
      - inherited mutations cause diseases
    - Mismatch repair (MMR)
      - MMR mutations (several gene length) cause simple sequence repeat instability --> heredity colorectal cancer
      - During DNA replication, polymerase can make mistakes
      - MMR proteins recognize and remove "wrong" nucleotides
    - Double Strand Break (DSB) repair
      - DSBs and exposed ssDNA trigger a DNA damage response involving kinase-mediated activation of repair/checkpoint proteins
      - Mutations in many of these and  other genes involved in  DSB repair cause disease, namely cancer, immune deficiency, and neurological defects
  - Why do "recessive" genes often have dominant patterns of inheritance in cancer? Loss of heterozygosity by:
    -  Chrom loss/reduplication
    -  Gene conversion
    -  aneusomy
    -  deletion
    -  mitotic recombination
    -  2nd mutations
  - Genome wide patterns and properties of de novo mutations in humans
    - sequenced 250 Dutch families  
    - ~38 de novo mutations per child
    - For young fathers, most mutations were in late-replicating regions
    - Children of 40 year old fathers had twice as many mutations as those from 20 year old fathers (2x as many replication cycles of spermatogonial stem cells?)
    - Mutations were enriched almost 30% for exonic mutations (vs random prediction), due to higher CpG content
  
  
  ---
  ### Quantitative Proteomics (October 28 2019, lecture 15)
  
  
  
  ---
  ### Non-coding RNAs (October 23 2019, lecture 14)
  - Some noncoding RNAs cause imprinting 
    - (ex. paramutation in maize)
    - normal, paramutable alleles suffer irreversible changes after being present in same genome as paramutagenic alleles
    - B1 encodes an enzymes for anthocyanin pigment --> get dark colored plants
    - There is another allele, B' that "paramutates" B-1 to a B'-like (B-1*) version. No sequence changes are involved. B' and B-1 have identical sequence
    - If B-1 were recessive to B' then homozygous B-1 plants would arise in the F2
    - Repeats upstream of the B1 gene produce 24 nt siRNAs
  - Other cases of non-coding RNAs becoming heritable after trauma (Dutch famine)
  - Paternally induced transgenerational environmental reprogramming of metabolic gene expression in mammals
  - Inherited through male RNAs in sperm 
  
  ---
  ### Noncoding RNAs (October 21 2019, lecture 13)
  - Non-coding RNAs (ncRNA): genes/transcripts that do not encode proteins (not messenger RNAs)
  - Components of translation machinery
    - Ribosomal RNA
    - Transfer RNA
  - RNAs involved in nucleic acid modification
    - Small nuclear RNA (snRNA, hnRNA)
    - Telomerase RNA
    - Small nuclear RNA (snoRNA, direct RNA modifications)
  - Regulatory RNAs
    - micro RNAs; siRNAs (RNA interference)
    - long non-coding RNAs (lnc RNAs)
    - piRNAs (involved in transposon supression)
    - Enhancer RNAs (eRNAs)
  
  - Small interferning RNAs (siRNAs) and RNAi
    - 21-23 nucleotides
    - Generated from double stranded RNA
    - Silences genes at post-translational stage by cleavage of mRNA
    - Found in very divergent organisms (from fungi to beetles)
    - siRNA pathway
      - dsRNA cleaved with dicer (dicer = dsRNA endoribonuclease), cuts into 21-23 nt
      - siRNAs bound by RISC complex (RNA-inducing silencing complex)
      - RISC binds to complementary mRNA, cleaes mRNA
  
  - microRNAs 
    - First microRNA discovered (lin-4) in C. elegans that binds to antisense complementary (lin-14). lin-14 mRNA always transcribed, by lin-14 protein is present only in embryonic and early larval stages. Lin-4 regulates the timing and developmental events at all larval stages. Lin-4 knockout causes epithelial cells to continue to divide instead of differentiate into other cell types
    - reduce mRNA level and/or inhibit translation
    - highly conserved miRNAs (hundreds), generally target hundreds of genes, comprise of 100 families that recognize largely identical targets within a family
    - Most miRNAs are poorly conserved and expressed at low levels
    - 2500+ miRNA loci in humans regulating majority of human genes
    - miRNA expression usually tissue or developmental stage-specific, or inducible under certain conditions
    - miRNA profiles are altered in human diseases and cancer
    - changes in miRNA regulation: case if Texel sheep with "exceptional meatiness" phenotype
    - detect miRNAs using NGS, major may
    - Biological roles for miRNAs:
      - binding sites mostly in 3' UTRs
      - Pairing to 5' end if nuRNA (seed) most important
      - many mRNAs repressed by miRNAs
    - Ways to detect biological function
      - overexpress or ectopically express a microRNA and see what mRNAs and proteins go down (RNA-seq, Mass spec, ribosome profiling)
      - Knock-down/out an endogenous microRNA and see what transcripts or proteins go up
      - In humans --> TargetScan Human to detect possible targets/mRNA binding sequences
  - Difference between microRNA and RNAi (respectively below)
  - Source: endogenous gene; exogenous
  - Targets: many; single by design
  - Repression: subtle (<2 fold); variable (>10 fold)
  - Mechanism: Inhibition of translation, altered mRNA decay; mRNA cleavage
  - Target pairing: minimal (~8 5' nts); extensive
  - Both methods have extensive pairing between mRNA and target site results in cleavage
  - Imperfect (miRNA-like) pairing between siRNA and target site results in miRNA like repression
  
  - Long non-coding RNAs (lncRNAs)
    - Decoy, scaffold, guide, enhancers
    - X inactivation depends on lncRNA (Xlist is only transcribed from inactive X (a lncRNA), necessary for X activation, expression from another chromosome causes silencing in cis, acts as a scaffold for repressive chromatin protein complexes)
  - piRNAs (piwi interacting RNAs) act as genome guardians
  - circRNAs (circular RNAs, in humans, neural circRNAs titrate miR-7 binding) 
  
  ---
  ### Single cell genomics continued and interactomics (October 16 2019, lecture 12)
  - Single cell transcriptomics of 20 mouse organs creates a tabula muris ( an international collaboration with the aim to profile every cell-type in the mouse using a standardized method)
  - Single cell study of C. elegans, hermaphrodites have 959 cells 302/959 are neurons. Males have 1031 cells
  - Nobel prize won for C. elegans work in 2002 "for their discoveries concerning genetic regulation of organ development and programmed cell death" --> 1090 cells are generated, and exactly 131 cells are eliminated by programmed cell death --> adult has 959 cells
  - Lots of other datasets available in mouse development and embryogenesis, joint profiling of chromatin accessibility and gene expression in thousands of single cells
  - Interactome: term to define all of the molecular interactions (generally between proteins) that take place in the cell (ex. receptor ligand, enzyme substrate, members of the multimeric protein complex)
  - Difficulties with proteins
    - Do not behave as uniformly as DNA
    - Stability of protein protein interactions (might not survive through purification)
    - Ectopic expression can be toxic to some cells
    - Quality/availability of antibody
  - Detecting protein protein interactions
    - genetic approaches
      - yeast 2 hybrid and mammalian analogues
      - enhancer/suppressor mutation screens
      - synthetic lethal screens
    - Biochemical/cytological approach
      - affinity chromatography
      - co-immunosuppression
      - co-localization inside of cells
    - Protein or antibody microarrays
    - Computational
      - co-regulation
      - inference from GO terms and protein domains
  - Yeast 2 hybrid approach
    - based on the fact that some transcriptional activators have separate DNA binding (BD) and transcriptional activation domains (AD)
    - Protein you are studying = bait
    - Proteins you are screening (prey)
    - transform bait and prey plasmids into yeast, measure the expression of a reporter gene
    - Not the most sensitive method
    - Proteins not in native environment
    - interactions must occur in nucleus
    - cannot identify multiprotein complexes
    - some proteins require post-translational modifications to interact with other proteins, yeast cannot do all animal type modifications
    - some inaccuracy reported when compared against known protein protein interactions (false negatives or false positives)
  - Also have a protein complementation assay
    - Can be done in the organism.cell type of interest. Make cell line with bait, transfect various preys, if bound together, YFP reporter reports
  - Affinity chromatography methods
    - Co-immunoprecipitation
      - using an antibody to isolate and purify a protein from a whole cell lysate
      - Normally only purify the protein the antibody recognizes
      - Any additional proteins co-purify are candidates for interacting proteins
      - Advantage: dealing with native proteins
    - Co-IP/Westerns can detect protein-protein interactions
    - MALDI-TOF mass spec (ionization, separation, detection) --> can determine the mass of molecules with high accuracy and sensitivity
  - ENhancer & suppressor genetic screens
    - Goal: to unravel complex developmental or genetic pathways beginning with a sensitized mutant strain
    - Cross the mutation to other known mutants or randomly mutagenize individuals
    - check for enhancement or suppression of original mutation
    - the new mutation may lie in the same pathway
  
  
  ---
  ### Single cell genomics (October 9, 2019, lecture 11)
  Why:
  - most tissues are not homogeneous, bulk profiling represents a composite/average of all cells in a sample
  - Single cell genomics a way of preserving info from individual cells
  - Single cell info important when analysing tumour heterogeneity, cell differentiation, neuron studies, complex cellular mixtures (distinguish change in expression from change in composition, diverse cells types with some rare cells, diverse organisms like microbes)
  - Steps to generating a single cell library (extract samples, make library, sequence, analyse)
  - Challenges:
    - Hard to isolate desired cell types in native state
    - Easy to contaminate DNA/RNA
    - Some biases during same prep
    - Sometimes not high throughput
  - Many methods and platforms to do sequencing
    - Fluidigm
    - Drop-seq (10X genomics)
    - Most methods rely on clever tagging of cells and the DNA within them with combinations of adapters (combinatorial indexing/unique molecular identifier)
  - Analysis --> read mapping, normalization, filtering, clustering to assure that cells are separating, biological datamining.
  - Data analysis: potential pitfalls
    - doublets (more than 1 cell per barcode)
    - sparse data matrix (no data, no expression)
    - clustering (cells might not have a distinct profile)
    - cross-hybridization (mis assignment of cell barcode)
    - visualization (pattern recognition, what are we looking at?)
    - reproducibility (limited biological or technical replication)
  - Could do more than single cell RNAseq
    - Perturb seq (CRISPR screen readout)
    - ATACseq (accessible chromatin (enhances, promoters))
    - CHIPseq (DNA bound by proteins/histone marks (antibody pull down))
    - WGS (CNVS, mutation profiling, metagenomics)  
  - What's next --> single cell spatial genomics
'''
linesHighlighted: []
isStarred: false
isTrashed: false
