createdAt: "2019-08-21T15:05:25.538Z"
updatedAt: "2019-10-07T20:06:18.239Z"
type: "MARKDOWN_NOTE"
folder: "6827e53fd4576b1dc031"
title: "Helpful git tips"
tags: []
content: '''
  Helpful git tips
  
  ##### Date: 2019-08-13
  - make branches on Bitbucket/Github for different projects, merge back to main if it becomes part of main project, or else keep working on branches and switch between them
  - Steps for creating a branch and adding it to your computer
  ```shell
  git pull
  git checkout name_of_new_branch_created_online
  git status # tells you what branch you're on
  git add name_of_script_thats_new -m
  git commit
  git push # no need to specify branch
  # Online: merge named pull request, branch to master (step to get code review)
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
