createdAt: "2019-10-07T20:05:26.735Z"
updatedAt: "2019-10-07T20:05:56.119Z"
type: "MARKDOWN_NOTE"
folder: "6827e53fd4576b1dc031"
title: "Other helpful notes"
tags: []
content: '''
  Other helpful notes
  
  #### Helpful Student Center tips
  
  To check course registration status:
  - Log into student center
  - Enroll under Academics (far left)
  - Will see semester class schedule on the bottom
    - Click each class to see what the grading status is
  
  To pay a bill
  - Will see an account summary
  - Along right hand side under finances, click 'View/Pay bursar Bill'
  - Login through cashnet and follow steps
  - Make sure to remember what you owe in Student Center, Bursar won't tell you that amount
'''
linesHighlighted: []
isStarred: false
isTrashed: false
