createdAt: "2019-10-30T15:02:38.028Z"
updatedAt: "2019-12-18T16:50:50.621Z"
type: "MARKDOWN_NOTE"
folder: "6827e53fd4576b1dc031"
title: "Seminars"
tags: []
content: '''
  Seminars
  
  
  
  
  ---
  ### Date:2019-12-18
  - Co-expression based gene regulatory networks predict functional interactions in maize (Peng Zhou, Springer Lab, Zeavolution)
  - Mutile layers of gene expression and regulation (promoters, distal regulatory elements), measured through DNA-seq, ATAC-seq, CHIP-seq, DAP-seq, WGBS, RRBS, RNAseq, etc..
  - Expression patterns vary widely among inbred line, gene, tissues, expression time-point, presence-absence variation of promoters/enhancers or mutated promoters/enhancers
  - What are regulating these genes? Two models:
    - Enhanceosome model (direct cooperatively, direct dna binding, rigid motif grammar)
    - Billboard model (indirect cooperatively or additivity, direct DNA binding, fixed motif type and number, flexible motif organization)
    - Binding dictated by motif grammar parameters (motif type, affinity, number, spacing, orientation, order, local DNA shape), all feed into gene regulatory networks
  - Collected previously published RNAseq datasets
  - To build network
    - correlation and information theoretic approaches
    - boolean networks
    - Bayseian
    - regression and differential equations models (LASSO, random forest --> one  they went with, robust)
  - How random forest trees work, decision tree, grow multiple trees and take the average/majority of these trees
  - Chipseq datasets available (knotted1 KN1, P1, ramosa1, fascinated ear4, opaque2, HDA101, ZmbZiP22, Auxin response factors family), Katherine's data not yet available
  - Comparing methods genomic regulatory networks on how well they can predict motifs using additional information. Adding information on cross-species conservation, tissue motif finding, and more. More levels of info, better motif prediction
  - Looked a GO terms shared between GRNs, some GO terms shared between all GRNs  (transcription related), some shared "meta-networks", some photosynthesis related, some only seeding/SAM related, looks like it reflects dataset captured in, can recapitulate biological functions
  - Lots of text from publication? 
  - Tried predicting TF binding in different datasets (some NAM families and IBMs)
  - Website that holds GRNs [Maize GRN](https://maizeumn.github.io/maizeGRN/) 
  - Missed takehomes
  
  
  ---
  ### Date: 2019-12-11
  - Maize adaptation to novel environments over time
  - Miguel Vallebuelo, Kelly Swarts Lab
  - The close wild ancestors of maize had a narrow distribution since the last glacial maximum
  - source of adaptation comes from inversion on 4
  - Mexicana gene flow is ancient, but when did it start? --> archaeological samples suggest maize encountered mexicana populations around 6000 as it arrived to the central plateau, continuous gene flow with ancient introgression makes IDing hard
  - Collected ancient maize DNA samples from archaeological sites, used existing sequenced resources SeeDm, teosintes, Ames, 282, etc
  - Ancient samples are metagenomic, damaged and fragmented. Maize content low
  - Samples showed characteristic ancient DNA patterns, short reads, fraying near ends of reads
  - Creating DNA probes for GBS to capture ancient DNA with less bias. Testing methods with 2 most distant accessions  based on a distance matrix, maximize diversity represented by the lowest amount of accessions to generate probes
  - Future work, reduce bias of DNA capture in diverse, ancient accessions. Also, understand timing, and locations of mexicana introgression, incorporation of ancient maize over time and space.
  
  
  ---
  ### Date: 2019-12-04
  - Genome scan signals of maize ... in local adaptation?, Fausto Rodríguez, Zeavolution
  - local adaptation is defined as higher fitness of local adaptation
  - genome environment associations can help ID local adaptation loci candidates
  - Hypothesis: phospholipid and phosphorous metabolism might mediate highland adaptation, some prior data to support this in high vs lowland maize (B73 vs Polmero Topocaneo)
  - Soil P availability depends of pH and mineralogy
  - Described soil maps worldwide, and more in detail for the Americas focusing on phosphorous solubility, categorized P solubility in standardized scores. 
  - Made github package, soilP, can overlay with any geo-referenced samples
  - Low P solubility in maize landraces mostly due to andosols and acrisols
  - Inv4m contains a P transporter, got GWA hits in inv4m LD block
  - GWAS controlling only for family (through k=28 in STRUCTURE), no kinship. Results still blurry in inv4m region with k<28 (i.e. lots of false positives)
  - BayesV? Switch sides of genotype and phenotype? Dwarf 8 paper, not a good way to go. 
  - Elevation is correlated with inv4m frequency and very low P solubility soils
  - Next steps: test effect of inversion on P acquisition and fitness with B73xlines with inv4m
  
  
  ---
  ### Date: 2019-11-20
  - Jeff Ross-Ibarra Zeavolution
  - Tajima's D larger in parviglumis compared to maize across genome
  - For just genes, tajima's D about the same (higher) between the two, something else must be happening within genes vs. outside of genes
  - Diversity in maize genes lower (pi is diversity measurement) rather than genome wide, teosinte diversity higher outside of genes and within genes, liked selection may be playing a role
  - classic selective sweeps (background around gene become fixed) vs background selection (diversity reduced around linked genes)
  - Dip in nucleotide diversity around both synonymous and non-synonymous mutations in maize and teosinte, consistent with human studies, contrasts with drosophila (dip in non-syn, increase/difference in syn)
  - Testing background selection, as you move away from genes, diversity increases/recover back to neutral background levels
    - true for maize and teosinte (Beissinger 2016 nature plants)
    - signal stronger in  teosinte, hypothesize that maize has undergone a pop. bottleneck, selection might be less efficient, effect of linked selection is weaker with a pop. having smaller effective population size
  -  Ability to detect expansion of population after bottleneck with limited sample size (maize and teosinte)
  - 48 million ha landrace maize X 22k plants/ha = 10^12 plants at 22 females/ha Ne=10^2, effective population size in maize much, much higher than teosinte 
  - Look at ratio of pi (random location)/pi_0 (neutral location), look at singletons (si) ratios
  - Torres, Stetter 2019 bioRxiv --> looking at differences of non-syn and syn (pi_0 and singleton) differences between populations (maize, humans)
    - impacts of linked selection on diversity across generations, diversity decreases across generations (unit: pi, singletons)
    - in neutral regions, slower decay in diversity (selection lower), in background selection diversity drops off faster, rate of change higher due to effective population size
    - Under equilibrium model --> pi/pi_0 increases steadily under classical model, instead it dips then increases in their models over time/generations (opposite, due to singletons and regions with linked selection respond more quickly to demographic change)
  - Changes in slope confirm initial response is demography, not selection
  - ratios  of diversity at selected and unselected sites are not necessarily informative about selection or its efficacy
  - direction and magnitude of change depend on the distribution of fitness effects, Torres paper tries to model distribution of fitness effects
  - effect of linked (direct) selection on diversity
    - Demographic models depend on how you calculate/average over lots of individuals
    - Depends on demography in ways opposite predicted by classical theory
    - varies over time
    - depends on effects of fitness effects
    - interpretation of results in maize await better estimates of DFE and demography, all previous students assume equilibrium populations, no population really follows an equilibrium  distribution
  
  
  ---
  ### Date: 2019-11-19
  - e-read-depth GWAS, Pat Schnable
  - paper: Lin et al., 2017 (genome biology) talks about method
  - essentially TWAS but with RNAseq data as data you map traits back to, regress phenotypes against expression for each gene and each genotype
  - eRD-GWAS complementary to snp-based GWAS, useful because it finds different subsets of trait-expression associations, might be getting closer to protein-protein interaction layer of central dogma
  - With snp-based GWAS hits, their study might be "missing" SNPs due to their methods of controlling for population structure that are not as stringent with eRD-GWAS?
  - trans-acting eQTL associated with traits via eRD-GWAS are unlikely to be LD-induced false positives
  - LD only confounds cis-eQTLs if neighbouring genes are highly correlated
  - Their lab is also developing alternative splicing GWAS
  - Overall they had different gene sets producing results between GWAS methods (eRD-GWAS, alt-splicing-GWAS, snp-based GWAS), could be capturing more levels of valuable information, might be something interesting to test for all my phenotypes?
  
  
  ---
  ### Date: 2019-11-13
  - Michelle Stitzer - TEs as deleterious alleles in maize
  - Mentioned Wong and Dooner PNAS 2006
  - Federoff 2012 Science
  - Very few TEs shared between maize families (Anderson Stitzer 2019)
  - low freqeuncy TEs more presrnt in low recombination regions
  - dysregulation of expression of genes near TEs --> could look this up in NAM hybrid expression data once Anju has it with Michelle, they did their study in the IBM with limited expression data and bad genotypes (IBM 3rd parent)
  - very little correlation between 'yield' traits and TE presence. Yield has no good predictors besides yield, could be the reason they saw no effect.
  
  ---
  ### Date: 2019-11-06
  - Allison Hill Roark Capital Group, The Balancing act (seminar put on my GPNWOMEN) --> Your Balance, your life, your script
  - Script to building your own life, 10 tips 
    1. Know who you want to be
        - Cannot create more time in your life, life decisions should be made to reflect values
    2. Build and facilitate relationships
        - think of trade-offs, prioritize some relationships over meetings and vis versa
    3. Lean into your strengths
        - take strengths finder quiz gallop poll has a nice one
        - find a job where those strengths are met and does not force you to lean into your weaknesses
    4. Do not compete
        - everyone has different plans, circumstances, and challenges
    5. Be ambitious with no expration dates
        - not all chapters in your life show advances for the character, some are more character building
    6. Be strict with your time
        - people are only really productive for 2 hours per day with unnecessary meetings
        - be the CEO of your own time (in busy and less busy periods)
        - schedule the things that are really important in life
    7. Be present
        - do not worry about past or future worries
    8. Accept imperfection
        - jobs do not always work out, do what you love
    9. Be vulnerable
        - ask for feedback and input, its not criticism
    10. Expect the unexpected
  
  
  ---
  ### Date: 2019-10-30
  - Taylor Crow Zeavolution
  - Chromosomal inversion and their impact on phenotypic variation
  - Looking at chromosome 4 inversion, through mexico either homo chr4 inversion, many more het for chr 4 inversion, homo chr4 inversion more prevalent with higher elevation
  - Hypothesis for keeping inversion --> capturing favourable adaptation alleles, can't recombine out as easily, sharp reduction in diversity within this region
  - Trying to find functional adaptive alleles within this inversion, also, what traits are under selection in this region, and what specific genes are in this region
  - Why is Inv4m so important? Bioarkv paper show high phenotypic plasticity mapping to this region
  - 47 genes within this region with poor gene annotation, why does it contribute to flowering time?
  - Crossed different landraces, backcrossed to B73, collected RNAseq samples in multiple tissues in v1 or v3 stage, looked at expression differences in introgression lines vs. inv4m region
  - Looked at enriched GO terms in "clean" trans-genes regulated by inv4m (outside of the inversion)
  - From Cinta: 
    - see a yield and heterosis effect in Ames, also in other 282 like populations see a seed size and weight effect from this inversion, might be a master regulator from Mexicana
    - How do temperate maize lines segregate for inversion?
  
  
  ---
  ### Date: 2019-10-25
  - Chris Pires
  - Arabidopsis --> 3 whole genome duplications WGDs
  - Shouldn't be asking what is polyploid, instead when were you last polyploid?
    - animals were lasy polyploid 350 myr
  - Mentioned 1000 plant transcriptomes publication, inferred 244 WGDs in green plants
  - Talked about diversification in trees and in brassica about diversification in metabolites for defense after WGD
  - Cool paper on network evolution post-wgd Washburn (2016)
  - conserved non-coding sequence loss consistent with subfunctionalization following gene duplication --> parallels with pan-and project (evolution has done most of the work for us)
  - who are the wolves of the brassicas? (like dogs evolving from wolves, who was the last most recent common ancestor?)
    - look at centers of diversity, linguistics, and genetics
    - can we de-domesticate brassicas to get the wild-ancestor?
  - Resynthesized allopolyploid Brassica napus
    - generated a completely homozygous F1
    - rapid evolution of heritable variation in flowering time --> instant speciation
    - Would be an interesting project to look into for the doubled haploids
    - Pires 2004 BJLS
    - homeologous exchanges in brassica --> leading to changes in phenotypic variance
    - replaying the evolutionary tape to investigate subgenome dominance (bird bioariv)  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
